In [8]:
import json
import pandas as pd

In [5]:
tasks = ['mc1', 'mc2', 'mc3']

In [6]:
llama1_base_path = "output-path-tfmc-baseline-llama-1.json"
# Read json files
with open(llama1_base_path) as f:
    llama1_base = json.load(f)
print(llama1_base.keys())
for task in tasks:
    print(f'total_{task}',llama1_base[f'total_{task}'])

dict_keys(['question', 'model_scores', 'total_mc1', 'total_mc2', 'total_mc3'])
total_mc1 0.2558139534883721
total_mc2 0.405513286902443
total_mc3 0.19196149287948555

In [17]:
configs = {
    ("llama-1", "baseline"): "output-path-tfmc-baseline-llama-1.json",
    ("llama-2", "baseline"): "output-path-tfmc-baseline-llama-2.json",
    ("llama-1", "dola"): "output-path-tfqamc-dola-llama-1.json",
    ("llama-2", "dola"): "output-path-tfqamc-dola-llama-2.json",
}

In [18]:
df = pd.DataFrame(columns=["approach", "model", "mc1", "mc2", "mc3"])

In [19]:
# 0.3219094247246022, 0.6376102627871721, 0.3213809718093689

In [20]:
for (model, approach), path in configs.items():
    with open(path) as f:
        results = json.load(f)
        df = df.append(
            {
                "approach": approach,
                "model": model,
                "mc1": results[f"total_{tasks[0]}"],
                "mc2": results[f"total_{tasks[1]}"],
                "mc3": results[f"total_{tasks[2]}"],
            },
            ignore_index=True,
        )

df["mc1"] = df["mc1"].astype(float)
df["mc2"] = df["mc2"].astype(float)
df["mc3"] = df["mc3"].astype(float)

/var/folders/yh/0ppzrrgs7m77v8rxlkjbf2540000gn/T/ipykernel_30945/2524999959.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/var/folders/yh/0ppzrrgs7m77v8rxlkjbf2540000gn/T/ipykernel_30945/2524999959.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/var/folders/yh/0ppzrrgs7m77v8rxlkjbf2540000gn/T/ipykernel_30945/2524999959.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/var/folders/yh/0ppzrrgs7m77v8rxlkjbf2540000gn/T/ipykernel_30945/2524999959.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(

In [21]:
df

   approach    model       mc1       mc2       mc3
0  baseline  llama-1  0.255814  0.405513  0.191961
1  baseline  llama-2  0.285190  0.433969  0.207491
2      dola  llama-1  0.321909  0.637610  0.321381
3      dola  llama-2  0.312118  0.621351  0.297729